[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Testing for Gerrit
[access "refs/*"]
	owner = group user/dhamu222
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dhamu222
	label-Verified = -1..+1 group user/dhamu222
	push = group user/dhamu222
	read = group user/dhamu222
	rebase = group user/dhamu222
	removeReviewer = group user/dhamu222
	submit = group user/dhamu222
[access "refs/heads/*"]
	create = group user/dhamu222
	push = +force group user/dhamu222
	pushMerge = group user/dhamu222
	read = group user/dhamu222
[access "refs/tags/*"]
	push = group user/dhamu222
	push = +force group user/dhamu222
